# PostgreSQL / TimescaleDB
POSTGRES_DB=sensor_db
POSTGRES_USER=sensor_user
POSTGRES_PASSWORD=sensor_pass

# RabbitMQ
RABBITMQ_USER=sensor_user
RABBITMQ_PASS=sensor_pass
RABBITMQ_VHOST=sensor_vhost

# JPA
DDL_AUTO=update